/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* ---------------------------------------------------------------
Box sizing
--------------------------------------------------------------- */

html{box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}


/* ---------------------------------------------------------------
Base Styles
--------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

/* ---------------------------------------------------------------
Project Specific Styles
--------------------------------------------------------------- */


/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

header, main, footer {
  padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222946;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav a:hover {
  opacity: 0.5;
  border-bottom: 2px solid black;
}

nav a:active {
  color: green;
}

header img {
  width: 100px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery img {
  flex-basis: 30%;
  margin-top: 1%;
}

footer {
  background-color: #222946;
  color: white;
  display: flex;
  justify-content: space-between;
}